*
{
  user-select: none;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
}

.login
{

  
  border: 1px solid powderblue;
  border-radius: 20px;
  padding: 40px 20px 40px 20px;
  background-color: rgb(226, 250, 252,0.5);
  backdrop-filter: blur(5px);
}

.login1
{
    color: rgb(3, 3, 73);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    width: 400px;
    align-items:center;
}
.contact
{
    color: #eee;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    width: 300px;
    text-align:right;
}
.sub
{
    color: #eee;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 0.5px;
    width: 400px;
}
.details
{
    color:white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 0.5px;
    width: 300px;
}

.form
{
    color:white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 0.5px;
    width: 500px;
}
textarea[type=message]
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
input[type=text] 
{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px powderblue;
  border-radius: 10px;  
}


input[type=text]:focus
{
  background-color:lavenderblush;
  outline: powderblue;
  color: navy ;
}
input[type=text]:hover
{
  background-color: lavenderblush;
  outline: powderblue;
  color: navy ;
}
textarea[type=message]:focus
{
  background-color:lavenderblush;
  outline: powderblue;
  color: navy ;
}
textarea[type=message]:hover
{
  background-color: lavenderblush;
  outline: powderblue;
  color: navy ;
}

input
{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px powderblue;
  border-radius: 10px;  
}

input:focus
{
  background-color:lavenderblush;
  outline: powderblue;
  color: navy ;
}
input:hover
{
  background-color: lavenderblush;
  outline: powderblue;
  color: navy ;
}


.submit 
{
    background-color: rgb(214, 123, 191);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active 
  {
    background-color: rgb(74, 138, 190);
    color: black;
  }

  .textarea
{
    width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px powderblue;
  border-radius: 10px;
}


@keyframes animate
{
    0%,100%
    {
         transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}

.can1
{
    border-radius: 20px;
    border-color: 1px solid snow;
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: rgba(174, 204, 248, 0.2);
    left: 62%;
    top: 15%;
    z-index: -2;
    animation: animate 9s linear infinite;
    animation-delay: calc(-1s * var(--i));
}


.can2
{
    border-radius: 20px;
    border-color: 1px solid snow;
    height: 90px;
    width: 90px;
    position: absolute;
    background-color:  rgba(174, 204, 248, 0.2);
    left: 31%;
    top: 22%;
    z-index: -2;
    animation: animate 9s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
.can3
{
    border-radius: 20px;
    border-color: 1px solid snow;
    height: 60px;
    width: 60px;
    position: absolute;
    background-color:  rgba(174, 204, 248, 0.2);
    left: 63%;
    top: 65%;
    z-index: -2;
    animation: animate 9s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
.can4
{
    border-radius: 20px;
    border-color: 1px solid snow;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color:  rgba(174, 204, 248, 0.2);
    left: 31.5%;
    top: 78%;
    z-index: -2;
    animation: animate 9s linear infinite;
    animation-delay: calc(-1s * var(--i));
}